{% extends 'base.html.twig' %}

{% block body %}
    
    <article>
    <h1>LemON - Jutro</h1>

    <p>
        Żadnego końca świata dziś nie będzie!<br/>
        Bo w Tokio jest już jutro<br/>
        Wciąż waham się wciąż chce cię mieć, chce<br/>
        Chce pewność absolutną<br/>
    </p>
    <p>
        Gdy zechcesz iść to nie patrz w dal<br/>
        Zrób jeden krok do przodu<br/>
        Bo ten nasz świat jest pełen wad<br/>
        I jest pełen gniewu<br/>
        ...

    </p>
    </article>
{% endblock %} 
