{% extends 'base.html.twig' %}
{% block body %}
    <article>
        <h1>Playboys</h1>
        <h2>Lejde</h2>
        <p>
   A Ty jesteś moją Lejde<br/> 
Prowokujesz, wiem co czujesz.<br/> 
Jesteś mą miłością,<br/>  
Mym dotykiem, narkotykiem.<br/> 
        </p>
        <p>
1.	Gdy pierwszy raz ujrzałem Cię<br/> 
Wiedziałem, że będziesz moja.<br/> 
Od razu zakochałem się<br/> 
I chciałem mieć Cię w swych ramionach.<br/> 
        </p>
        <p>
Gorący uśmiech, oczu blask<br/> 
Cudowny wdzięk onieśmielał mnie.<br/> 
Już nie chcę z nikim innym być<br/> 
Od teraz wiem tylko Ty.<br/> 
</p>
<p>
Ref: A Ty jesteś moją Lejde<br/> 
Pragnę Ciebie bejbe<br/> 
Prowokujesz, wiem co czujesz.<br/> 
Jesteś mą miłością,<br/> 
Serca namiętnością,<br/> 
Mym dotykiem, narkotykiem.<br/> 
Jesteś moją Lejde<br/> 
Pragnę Ciebie bejbe<br/> 
Prowokujesz, wiem co czujesz.<br/> 
Jesteś mą miłością,<br/> 
Serca namiętnością,<br/> 
Mym dotykiem, narkotykiem.<br/> 
</p>
<p>
Narkotykiem<br/> 
</p>
<p>
2.	Teraz już to dobrze wiem<br/> 
To nie jawa i nie sen.<br/> 
Od razu skradłaś cały świat<br/> 
W mgnieniu oka tylko ja.<br/> 
</p>
<p>
Chcę patrzeć tylko w oczy Twe<br/> 
Spojrzeniem swoim wciąż ukajasz mnie.<br/> 
Przy Tobie wolniej płynie czas<br/> 
Na wieki Ty i ja.<br/> 
</p>
<p>
Ref: A Ty jesteś moją Lejde<br/> 
Pragnę Ciebie bejbe<br/> 
Prowokujesz, wiem co czujesz.<br/> 
Jesteś mą miłością,<br/> 
Serca namiętnością,<br/> 
Mym dotykiem, narkotykiem.<br/> 
Jesteś moją Lejde<br/> 
Pragnę Ciebie bejbe<br/> 
Prowokujesz, wiem co czujesz.<br/> 
Jesteś mą miłością,<br/> 
Serca namiętnością,<br/> 
Mym dotykiem, narkotykiem.<br/> 
</p>
<p>
Narkotykiem<br/> 
</p>
<p>
A Ty jesteś moją Lejde <br/> 
Prowokujesz, wiem co czujesz.<br/> 
Jesteś mą miłością, <br/> 
Mym dotykiem, narkotykiem.<br/> 
</p>
<p>
Ref: Jesteś moją Lejde<br/> 
Pragnę Ciebie bejbe<br/> 
Prowokujesz, wiem co czujesz.<br/> 
Jesteś mą miłością,<br/> 
Serca namiętnością,<br/> 
Mym dotykiem, narkotykiem.<br/> 
</p>
<p>
Narkotykiem<br/> 
</p>
    </article>
{% endblock %}