{% extends 'base.html.twig' %}
{% block body %}
    <article>
        <h1>Playboys</h1>
        <h2>Nasza noc</h2>
        <p>
  1. Wreszcie weekend się zaczyna,<br/>
A ja w domu całkiem sam,<br/>
Chyba zaraz oszaleje,<br/>
Głupie myśli ciągle mam,<br/>
Kumple w klubie już balują,<br/>
Wódka, piwko leje się,<br/>
Fajne hity na parkiecie,<br/>
Każdy śpiewa refren ten:<br/>
</p>
        <p>
Ref.:<br/>
</p>
        <p>
Bo nasza jest cała ta noc,<br/>
Wszystkie łapy w górę i zróbmy to,<br/>
Oszaleje każdy z nas,<br/>
Tylko dzisiaj, razem ten jeden raz,<br/>
</p>
        <p>
Nasza jest cała ta noc,<br/>
Wszystkie łapy w górę i zróbmy to,<br/>
Oszaleje każdy z nas,<br/>
Tylko dzisiaj, razem ten jeden raz.<br/>

</p>
        <p>

2. Już nie mogłem sam tak siedzieć,<br/>
Mój telefon wkurzał mnie,<br/>
Ciągle ten sam sms,<br/>
Kiedy będziesz, grubo jest,<br/>
Szybki prysznic, nowe wdzianko,<br/>
No i pojawiłem się,<br/>
Fajne hity na parkiecie,<br/>
Każdy śpiewa refren ten:<br/>

</p>
        <p>
Ref.:<br/>
</p>
        <p>
Bo nasza jest cała ta noc,<br/>
Wszystkie łapy w górę i zróbmy to,<br/>
Oszaleje każdy z nas,<br/>
Tylko dzisiaj, razem ten jeden raz,<br/>
</p>
        <p>
Nasza jest, cała ta noc,<br/>
Wszystkie łapy w górę i zróbmy to,<br/>
Oszaleje każdy z nas,<br/>
Tylko dzisiaj, razem ten jeden raz.<br/>
        </p>
    </article>
{% endblock %}