{% extends 'base.html.twig' %}

{% block body %}
<article>
	<h1>Yugopolis</h1>
	<h2>Miasto budzi się</h2>
	<p>
		Poranek taki cichy, dzień powoli wstaje. <br />
		Moje miasto budzi się.<br />
		Słońce purpurą już okryło czarne dachy. <br />
		W złoto zaraz zmieni je.<br />
	</p>
	<p>
		Idę ulicą pustą, sławie co nad nami. <br />
		Za tę ciszę, za ten świt.<br />
		Że jesteś obok mnie, że nie poddałaś się.<br />
		Za tę chwilę, która jest. <br />
	</p>
	<p>
		Patrzę na moje miasto, <br />
		Kocham je. <br />
		Ty jeszcze śnij i wyśnij dla nas sen. <br />
	</p>
	<p>
		Ref.: <br />
		Miasto budzi się. <br />
		Z naszymi marzeniami. <br />
		Szumem ulic woła mnie. <br />
		Miasto budzi się. <br />
		Nie jesteśmy sami. <br />
		Daj nam dzisiaj dobry dzień, dobry dzień. <br />
	</p>
	<p>
		Wieczorem gdy już cicho, <br />
		Zamykamy oczy. <br />
		W ciemną noc obejmę Cię. <br />
		A potem tak jak zawsze. <br />
		Ja przed słońcem wstanę, by powitać nowy dzień. <br />
	</p>
	<p>
		Patrzę na moje miasto, <br />
		kocham je. <br />
		Ty jeszcze śnij i wyśnij dla nas sen. <br />
	</p>
	<p>
		Ref.: <br />
		Miasto budzi się. <br />
		Z naszymi marzeniami.<br />
		Szumem ulic woła mnie. <br />
		Miasto budzi się. <br />
		Nie jesteśmy sami.<br />
		Daj nam dzisiaj dobry dzień.<br />
	</p>
	<p>
		Miasto budzi się. <br />
		Z naszymi marzeniami.<br />
		Szumem ulic woła mnie. <br />
		Miasto budzi się. <br />
		Nie jesteśmy sami.<br />
		Daj nam dzisiaj dobry dzień, dobry dzień....<br />
	</p>
</article>
{% endblock %}
