{% extends 'base.html.twig' %}

{% block body %}
    <article>
    <h1>Czesław Niemen</h1>
    <h2>Sen o Warszawie</h2>
 <p>
  Mam, tak samo jak ty,<br/>
miasto moje, a w nim<br/>
najpiękniejszy mój świat,<br/>
najpiękniejsze dni,<br/>
zostawiłem tam kolorowe sny.<br/>
</p>
 <p>
Kiedyś zatrzymam czas<br/>
i na skrzydłach jak ptak<br/>
będę leciał co sił<br/>
tam, gdzie moje sny<br/>
i warszawskie kolorowe dni.<br/>
</p>
 <p>
Gdybyś ujrzeć chciał <br/>
nadwiślański świt,<br/>
już dziś wyruszaj ze mną tam.<br/>
Zobaczysz, jak <br/>
przywita pięknie nas<br/>
warszawski dzień.<br/>
</p>
 <p>
Mam, tak samo jak ty,<br/>
miasto moje, a w nim<br/>
najpiękniejszy mój świat,<br/>
najpiękniejsze dni,<br/>
zostawiłem tam kolorowe sny.<br/>
</p>
 <p>
Gdybyś ujrzeć chciał<br/> 
nadwiślański świt,<br/>
już dziś wyruszaj ze mną tam.<br/>
Zobaczysz, jak <br/>
warszawski dzień,<br/>
Zobaczysz, jak <br/>
warszawski dzień,<br/>
warszawski dzień.<br/>
warszawski dzień,<br/>
</p>
<article>
{% endblock %}