{% extends 'base.html.twig' %}

{% block body %}
    <article>
    <h1>LemON - Stary film</h1>

    <p>
        Znowu drżę, kolejna noc pośród tych samych ścian <br/>
        Jakby nie sam... jakby nie...<br/>
        Zdaje się, że i tak wszystko jest skazane na łzy <br/>
        Jakby nie sam... jakby nie... ten sam ja...<br/>
    </p>
    <p>
        Pytasz mnie, co czuję, odpowiadam,<br/>
        że już czuję wszystko, czyli nic...<br/>
        Pytasz mnie, co czuję, odpowiadam,<br/>
        nasze lato w szron jest już ubrane <br/>
        pytasz mnie wciąż... <br/>
        Znowu drżę... 

    </p>
    </article>
+{% endblock %} 
