{% extends 'base.html.twig' %}

{% block body %}
    <article>
    <h1>Sam Brown</h1>
    <h2>Stop</h2>
    <p>
   All that I have is all that you've given me<br/> 
did you never worry that I'd come to depend on you <br/>
I gave you all the love I had in me<br/> 
now I find you've lied and I can't believe it's true<br/> 
</p>
<p>
Wrapped in her arms I see you across the street<br/> 
and I can't help but wonder if she knows what's going on<br/> 
you talk of love but you don't know how it feels<br/> 
when you realise that you're not the only one<br/> 
</p>
<p>
Oh you'd better stop before you tear me all apart <br/>
you'd better stop before you go and break my heart <br/>
ooh you'd better stop<br/> 
</p>
<p>
Time after time I've tried to walk away<br/> 
but it's not that easy when your soul is torn in two<br/> 
so I just resign myself to it every day <br/>
now all I can do is to leave it up to you <br/>
</p>
<p>
Oh you'd better stop before you tear me all apart<br/> 
you'd better stop before you go and break my heart <br/>
ooh you'd better stop <br/>
</p>
<p>
Stop if love me <br/>
(you will remember) <br/>
now's the time to be sorry <br/>
(that day forever)<br/> 
I won't believe that you'd walk out on me <br/>
</p>
<p>
Oh you'd better stop before you tear me all apart<br/> 
you'd better stop before you go and break my heart <br/>
ooh you'd better stop<br/>
</p>
</article>
{% endblock %}
