{% extends 'base.html.twig' %}

{% block body %}
    <article>
    <h1>OSTR - Witaj w 2003</h1>

    <p>
        Mam swoje prawa,<br/>
        nikt nie zabroni mi się zastanawiać,<br/>
        co sprawia,<br/>
        że ludzie nigdy nie przestaną kłamać menciu<br/>
        Od alimentów rzędu pięciu stów<br/>
        ...

    </p>
    </article>
+{% endblock %} 
